RENDER_API_KEY=eightglyphs27:10000
import { Render } from '@renderinc/sdk'

const render = new Render()
const startedRun = await render.workflows.startTask(
  'my-workflow/calculateSquare',
  [2],
)
const finishedRun = await startedRun.get()
console.log(finishedRun.results)
calculateSquare = task(
  { name: 'calculateSquare' },
  async (a: number) => a * a
)

processClaim = task(
  { name: 'processClaim' },
  async (claim: { id: string; value: number }) => {import { Render } from '@renderinc/sdk'

const render = new Render()
const startedRun = await render.workflows.startTask(
  'my-workflow/calculateSquare',
  [2],
)
const finishedRun = await startedRun.get()
console.log(finishedRun.results)
    const result = await calculateSquare(claim.value);
    return { claimId: claim.id, result };
  }
)
